<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <a href = "https://github.com/aboveaveragedev/node_web_server">Node Web Server Github</a>
        {{> footers}}
    </body>
</html>
